{% extends "Home/layout/main-layout.html" %}
{% block title %} Admin Panel {% endblock %}

{% block page_content %}

<h1>USERS TABLE</h1>

<table cellpadding="4" cellspacing="2" width="100%">
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>FACEBOOK PAGE ID</th>
    </tr>
    {% for user in users %}
    <tr>
    <td>{{ user.id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.fb_page_id }}</td>
    <td><button type="submit">Delete</button></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

