
<!--
    THE FOOTER 
-->

<footer class="main-footer py-4">
    <div>
        <div class="container">
            <hr>
            <div class="d-flex flex-column flex-md-row justify-content-md-between">

                <p class="grey">2022 &copy; ChristiesLab, All Rights Reserved. Terms of service Privacy</p>
                <div class="d-flex align-items-center grey gap-3 gap-md-4 fs-4">
                    <span>Connect with us:</span>
                    <i class="fa-brands fa-facebook"></i>    
                    <i class="fa-brands fa-twitter "></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                 </div>
            </div>
        </div>
    </div>
</footer>