

    <p class="text-align-center">
        <a href="auth/facebook_login/">
            <img src="https://img.shields.io/badge/Facebook-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=facebook"
                 alt="Facebook"> <br>
        </a>

        <a href="auth/twitter_login/">
            <img id="twitter"
               src="https://img.shields.io/badge/Twitter-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=twitter"
               alt="Twitter"> <br>
        </a>
    </p>
