

         <div class="home-wrapper">
            <!--{/* SECTION 1 */}-->
            <section class="home-section-1 py-3" id="company">
               <div class="home-section-1-grow">
                  <div class="index-header-img slide">
                     {% include 'Home/components/carousels.html' %}
                     <!--img src='../../../static/images/home/img/home/image1.jpg' loading="lazy" alt="" /-->
                  </div>
                  <div class="container">
                     <h1 class="text-center index-header-large-txt">Track performance using sentiments from social media</h1>
                     <p class="index-header-small-txt">
                        Understand products and customers using social media<mark>Track and analyze comments from social media using Artificial intelligence.</mark> use machine learning and natural language processing to understand performance of your survey by analyzing unbiased comments of your users — now you and your team can easily connect your social media, visualize analytical reports, monitor trends, and discover insights.
                     </p>
                     <div class="d-flex flex-column align-items-center">
                        <button class="btn btn-lg btn-success mb-3" data-target="#SearchFormElement">
                           Track your first product
                        </button>
                           
                              <!--div class="col-auto">
                                 <input type="search" class="form-control" />
                                  <div class="nav-item">
            <a class="nav-link" href="{{ url_for('main.dashboard')}}">Dashboard</a>
         </div>
                              </div-->
                              <div class="col-auto">
                                 <a href="{{ url_for('main.dashboard')}}">
                                    <button class="btn btn-success " id="DEMO">DEMO</button>
                                 </a>
                              </div>
                              <div>
                              <!---{% include 'Home/components/socialLoginButtons.html' %}--->
                              </div>
                     </div>
                  </div>
               </div>
            </section>
            <!--{/* SECTION 2 */}--->
            <section class="home-section-2" id="about">
               <div class="py-5">
                  <div class="container">
                     <h2 class="h-s-2-large-txt text-center">Our algorithm can serve your business analytical needs</h2>
                     <p class="h-s-2-small-txt">We have made machine learning accessable for your business neeeds to track and visualize performance easier than they ever have before. Our sentiment driven solution will help you understand customers needs helping you scale your products and services.</p>
                     <p class="h-s-2-small-txt ">We can also help you run tailored, engaging social media campaigns to help you generate the right kind of sentiments to answer specific business questions, that will meet your your business needs. We believe every business should understand its market and should be able to capitalize on that information, our goal is simply to help you understand your business needs</p>
                     <div class="h-s-2-about">
                        <h2 class="h-s-2-large-txt text-center">About us</h2>
                        <p class="h-s-2-small-txt">Unbiased Analytics is an AI product, that helps simplies how realistic business survey data can be collected and analyzed eliminating. With this tool, users are able to seamlessly run our AI algorithm against there social media campaigns, product reviews and general comments about their products and services for deeper and more detailed insights, instantaneously. our platform is compatible with a number of popular platforms such as Twitter, Facebook, Instagram, Linkedin and Tiktok giving users the ability to gain clear understanding about their business needs judging from sentiments of customers.</p>
                        <h2 class="h-s-2-large-txt text-center">You dont need a Data Database to use our platform</h2>
                        <p class="h-s-2-small-txt mb-5">Our platform does not require your database, we have infact allow you to own a database on our server where you can store your sentiments and access it on the cloud. Our skillfull data engineering process connects your data seamlesslessly to our datawarehouse where sentiments can be analyzed and tracked.</p>
                        <div class="h-s-2-about-card">
                           <div class="row row-cols-1 row-cols-lg-2 g-4">
                              <!--{/* -------------- */}-->
                              <div class="col about-col">
                                 <div class="card about-col-card">
                                    <div class="card-body about-col-card-body">
                                       <div class="card-title about-col-card-title">
                                          <i class="fa-brands fa-uikit fa-10x"></i>
                                       </div>
                                       <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur voluptas est excepturi dolor. Ex aliquid voluptatibus, cupiditate eligendi corrupti placeat, quae excepturi, minus ut necessitatibus sit aut porro consequuntur voluptas tempora animi maxime accusantium fugit odio unde. Porro vel voluptates consequatur possimus adipisci molestias sequi animi dolor ipsa maiores? Voluptate non ipsum, natus aut esse magni dicta. Porro expedita sequi earum veritatis minus fugit. Laudantium ipsum voluptatum enim deleniti aliquam neque labore debitis natus nemo laborum doloremque fuga officiis qui delectus blanditiis eligendi, dicta voluptate quo. Quasi quisquam eveniet quibusdam deserunt ab quia aut, ex, suscipit magnam, iure odio. Perferendis.</div>
                                    </div>
                                 </div>
                              </div>
                              <!--{/* -------------- */}-->
                              <div class="col about-col">
                                 <div class="card h-100 about-col-card">
                                    <div class="card-body about-col-card-body">
                                       <div class="card-title  about-col-card-title">
                                          <i class="fa-solid fa-gears fa-10x "></i>
                                       </div>
                                       <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur voluptas est excepturi dolor. Ex aliquid voluptatibus, cupiditate eligendi corrupti placeat, quae excepturi, minus ut necessitatibus sit aut porro consequuntur voluptas tempora animi maxime accusantium fugit odio unde. Porro vel voluptates consequatur possimus adipisci molestias sequi animi dolor ipsa maiores? Voluptate non ipsum, natus aut esse magni dicta. Porro expedita sequi earum veritatis minus fugit. Laudantium ipsum voluptatum enim deleniti aliquam neque labore debitis natus nemo laborum doloremque fuga officiis qui delectus blanditiis eligendi, dicta voluptate quo. Quasi quisquam eveniet quibusdam deserunt ab quia aut, ex, suscipit magnam, iure odio. Perferendis.</div>
                                    </div>
                                 </div>
                              </div>
                              <!---{/* -------------- */}-->
                              <div class="col about-col">
                                 <div class="card h-100 about-col-card">
                                    <div class="card-body about-col-card-body">
                                       <div class="card-title  about-col-card-title">
                                          <i class="fa-solid fa-lightbulb fa-10x"></i>
                                       </div>
                                       <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur voluptas est excepturi dolor. Ex aliquid voluptatibus, cupiditate eligendi corrupti placeat, quae excepturi, minus ut necessitatibus sit aut porro consequuntur voluptas tempora animi maxime accusantium fugit odio unde. Porro vel voluptates consequatur possimus adipisci molestias sequi animi dolor ipsa maiores? Voluptate non ipsum, natus aut esse magni dicta. Porro expedita sequi earum veritatis minus fugit. Laudantium ipsum voluptatum enim deleniti aliquam neque labore debitis natus nemo laborum doloremque fuga officiis qui delectus blanditiis eligendi, dicta voluptate quo. Quasi quisquam eveniet quibusdam deserunt ab quia aut, ex, suscipit magnam, iure odio. Perferendis.</div>
                                    </div>
                                 </div>
                              </div>
                              <!--{/* -------------- */}-->
                              <div class="col about-col">
                                 <div class="card h-100 about-col-card">
                                    <div class="card-body about-col-card-body">
                                       <div class="card-title  about-col-card-title">
                                          <i class="fa-solid fa-brain fa-10x"></i>
                                       </div>
                                       <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur voluptas est excepturi dolor. Ex aliquid voluptatibus, cupiditate eligendi corrupti placeat, quae excepturi, minus ut necessitatibus sit aut porro consequuntur voluptas tempora animi maxime accusantium fugit odio unde. Porro vel voluptates consequatur possimus adipisci molestias sequi animi dolor ipsa maiores? Voluptate non ipsum, natus aut esse magni dicta. Porro expedita sequi earum veritatis minus fugit. Laudantium ipsum voluptatum enim deleniti aliquam neque labore debitis natus nemo laborum doloremque fuga officiis qui delectus blanditiis eligendi, dicta voluptate quo. Quasi quisquam eveniet quibusdam deserunt ab quia aut, ex, suscipit magnam, iure odio. Perferendis.</div>
                                    </div>
                                 </div>
                              </div>
                              <!--{/* -------------- */}-->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!--{/* SECTION 3 */}-->
            <section class="home-section-3">
               <img src="../../../static/images/home/img/home/sec2.jpg" loading="lazy" alt="" />
            </section>
            <!---{/* SECTION 4 */}--->
            <section class="home-section-4 py-3">
               <div class="container h-s-4-container">
                  <div class="row h-s-4-2ndrow">
                     <div class="container h-s-4-2ndrow-container">
                        <div class="h-s-4-2ndrow-icon-wrap"></div>
                        <strong>Have other data that you need to send to Unbaised Analytics?</strong>
                        <p>In addition to our 70+ native integrations, you can also send any data by connecting a SQL database, sending your data via API, or through one of our integrations with Google Sheets, Zapier, or Integromat.</p>
                     </div>
                  </div>
               </div>
            </section>
            <!--{/* SECTION 5 */}-->
            <section class="home-section-5 py-5" id="services">
               <div class="h-s-5-container row ">
                  <div class="col h-s-5-left d-none d-lg-flex flex-column justify-content-center">
                     <img src="../../../static/images/home/img/home/image5.png" loading="lazy" alt="" />
                  </div>
                  <div class="col h-s-5-right">
                     <div class="container">
                        <h3>Easily track thousands of metrics from all of your tools</h3>
                        <p>All Databox integrations come packed with the most popular metrics and their common visualizations already built into them. This way, you can spend less time figuring out how to visualize your data and more time actually acting on it. Mix and match metrics from different sources in one dashboard and get a more complete view of your performance at a glance.</p>
                        <span>Dashboard Design</span>
                        <h3>Build and customize your dashboards</h3>
                        <p>No more fumbling around trying to visualize data in spreadsheets or slides. Using the Dashboard Designer, you can pull the metrics you need, visualize KPIs in a variety of ways, and fully customize the look and presentation of your dashboards—no code or design skills necessary.</p>
                     </div>
                  </div>
               </div>
            </section>
         </div>


