
  <!--   Core JS Files   -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="../../static/js/core/jquery.min.js"></script>
  <script src="../../static/js/core/popper.min.js"></script>
  <script src="../../static/js/core/bootstrap.min.js"></script>
  <script src="../../static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
  <!-- Chart JS -->
  <script src="../../static/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../../../static/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src=".../../static/js/core/black-dashboard.min.js"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="../../static/analysis/analysis.js"></script>
  <script src="{{ url_for('static', filename='js/stripe-change-subscription.js') }}"></script>
  <script src="{{ url_for('static', filename='js/progress-bar.js') }}"></script>

  <!--script src="../../static/js/analysis_plot.js"></script-->


